body{
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

.header, .footer{
    display: flex;
    /* background-color: #1F2937; */
}

.big-text{
    font-size: 48px;
    font-weight:800;
    /* color: #F9FAF8; */
}

.head-logo{
    font-size: 24px;
    /* color: #F9FAF8; */
}

.top-links{
    font-size: 18px;
    /* color: #E5E7EB; */
}

button{
    background-color: #3882F6;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;

    font-weight: bold;
    color: #F9FAF8;
}

.header{
    justify-content: space-between;
}

.footer{
    justify-content: center;
    gap: 8px;
}

.section-container{
    display: flex;
    flex: 1;
}

.container{
    display: flex;
    flex-direction: column;
}

.main-title{
    text-align: center;
}

.main-content{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.main-content img{
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.text{
    max-width: 150px;
}

.section-main-quote{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-source{
    display: flex;
    margin-left: auto;
}

